<!-- <thead>
  <tr>
    <th>Color Id</th>
    <th>Color Name</th>
  </tr>
</thead>

<table class="table">
  <tr *ngFor="let color of colors">
    <td>{{ color.colorId }}</td>
    <td>{{ color.colorName }}</td>
  </tr>
</table> -->
<ul class="list-group">
  <li [class]="getAllColorClass()" routerLink="/cars">Tüm renkler</li>
  <li (click)="setCurrentColor(color)"
  *ngFor="let color of colors"
  [class]="getCurrentColorClass(color)"
  routerLink="/cars/color/{{color.colorId}}"
  >
{{color.colorName}}
  </li>
</ul>
<h5 *ngIf="currentColor">{{currentColor.colorName}}</h5>
