<!-- <thead>
  <tr>
    <th>Brand Id</th>
    <th>Brand Name</th>
    <th>Brand Description</th>
  </tr>
</thead>

<table class="table">
  <tr *ngFor="let brand of brands">
    <td>{{ brand.brandId }}</td>
    <td>{{ brand.brandName }}</td>
    <td>{{ brand.brandDescription }}</td>
  </tr>
</table> -->
<ul class="list group">
 <li [class]="getAllBrandClass()" routerLink="/cars">Tüm Markalar</li>
 <li (click)="setCurrentBrand(brand)"
 routerLink="/cars/brand/{{brand.brandId}}"
 *ngFor="let brand of brands | brandFilterPipe: filterText"
 [class]="getCurrentBrandClass(brand)"

 >{{brand.brandName}}</li>

</ul>
<h5 *ngIf="currentBrand">{{currentBrand.brandName}}</h5>
